adds-api/src/main/resources/xsd/nims_aar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	targetNamespace="https://www.nims.or.kr/schema/nims" xmlns="https://www.nims.or.kr/schema/nims"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- 폐기 -->
	<xs:complexType name="aar">
        <xs:sequence>
			<xs:element name="REPORT_SET" type="reportSetAAR" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="reportSetAAR">
		<xs:sequence>
			<xs:element name="UID" type="UID" />
			<xs:element name="SW_ID" type="SW_ID" />
			<xs:element name="RND_RMK" type="RND_RMK" minOccurs="0" />
			<xs:element name="HEADER" type="headerAAR" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="headerAAR">
		<xs:sequence>
			<xs:element name="HDR_DE" type="HDR_DE" /><!-- 취급일자 -->
			<xs:element name="BSSH_CD" type="BSSH_CD" /><!-- 마약류취급자식별번호 -->
			<xs:element name="RPT_SE_CD" type="RPT_SE_CD" /><!-- 보고구분코드 -->
			<xs:element name="USR_RPT_ID_NO" type="USR_RPT_ID_NO" /><!-- 사용자보고식별번호 -->
			<xs:element name="REF_USR_RPT_ID_NO" type="REF_USR_RPT_ID_NO" /><!-- 참조사용자보고식별번호 -->
			<xs:element name="RPT_TY_CD" type="RPT_TY_CD" /><!-- 보고유형코드 -->
			<xs:element name="RMK" type="RMK" /><!-- 비고 -->
			<xs:element name="RPTR_NM" type="RPTR_NM" /><!-- 보고자명 -->
			<xs:element name="RPTR_ENTRPS_NM" type="RPTR_ENTRPS_NM" /><!-- 보고자업체명 -->
			<xs:element name="CHRG_NM" type="CHRG_NM" /><!-- 담당자명 -->
			<xs:element name="CHRG_TEL_NO" type="CHRG_TEL_NO" /><!-- 담당자전화번호 -->
			<xs:element name="CHRG_MP_NO" type="CHRG_MP_NO" /><!-- 담당자휴대폰번호 -->
			<xs:element name="RND_DTL_RPT_CNT" type="RND_DTL_RPT_CNT" /><!-- 수불상세보고수 -->
			<xs:element name="DSUSE_SE_CD" type="DSUSE_SE_CD" /><!-- 폐기구분코드_ND_07 -->
			<xs:element name="DSUSE_PRV_CD" type="DSUSE_PRV_CD" /><!-- 폐기사유코드_ND_19 -->
			<xs:element name="DSUSE_MTH_CD" type="DSUSE_MTH_CD" /><!-- 폐기방법코드_ND_24 -->
			<xs:element name="DSUSE_LOC" type="DSUSE_LOC" /><!-- 폐기장소 -->
			<xs:element name="DSUSE_DE" type="DSUSE_DE" /><!-- 폐기일자 -->
			<xs:element name="DSUSE_INSTT_CD" type="DSUSE_INSTT_CD" /><!-- 폐기관할행정기관코드 -->
			<xs:element name="ATCH_FILE_CO" type="ATCH_FILE_CO" /><!-- 첨부파일건수 -->
			<xs:element name="REGISTER_ID" type="REGISTER_ID" /><!-- 등록자ID -->
			<xs:element name="FILE_CREAT_DT" type="FILE_CREAT_DT" /><!-- 파일생성일시 -->
			<xs:element name="LINES" type="linesAAR" minOccurs="0" />
			<xs:element name="ATCH_FILES" type="atchFiles" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="linesAAR">
		<xs:sequence>
			<xs:element name="LINE" type="lineAAR" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="lineAAR">
		<xs:sequence>
			<xs:element name="USR_RPT_ID_NO" type="USR_RPT_ID_NO" /><!-- 사용자보고식별번호 -->
			<xs:element name="USR_RPT_LN_ID_NO" type="USR_RPT_LN_ID_NO" /><!-- 사용자보고라인식별번호 -->
			<xs:element name="STORGE_NO" type="STORGE_NO" /><!-- 저장소번호 -->
			<xs:element name="MVMN_TY_CD" type="MVMN_TY_CD" /><!-- 이동유형코드 -->
			<xs:element name="PRDUCT_CD" type="PRDUCT_CD" /><!-- 제품코드 -->
			<xs:element name="MNF_NO" type="MNF_NO" /><!-- 제조번호 -->
			<xs:element name="MNF_SEQ" type="MNF_SEQ" /><!-- 제조일련번호 -->
			<xs:element name="MIN_DISTB_QY" type="MIN_DISTB_QY" /><!-- 최소유통단위수량 -->
			<xs:element name="PRD_MIN_DISTB_UNIT" type="PRD_MIN_DISTB_UNIT" /><!-- 제품최소유통단위 -->
			<xs:element name="PCE_QY" type="PCE_QY" /><!-- 낱개단위수량 -->
			<xs:element name="PRD_PCE_UNIT" type="PRD_PCE_UNIT" /><!-- 제품낱개단위 -->
			<xs:element name="PRDUCT_NM" type="PRDUCT_NM" /><!-- 제품명 -->
			<xs:element name="PRD_SGTIN" type="PRD_SGTIN" /><!-- 제품BarCode_RFID -->
			<xs:element name="PRD_MIN_DISTB_QY" type="PRD_MIN_DISTB_QY" /><!-- 제품최소유통단위수량 -->
			<xs:element name="PRD_TOT_PCE_QY" type="PRD_TOT_PCE_QY" /><!-- 제품총낱개단위수량 -->
			<xs:element name="PRD_VALID_DE" type="PRD_VALID_DE" /><!-- 제품유효기한일자 -->
			<xs:element name="FILE_CREAT_DT" type="FILE_CREAT_DT" /><!-- 파일생성일시 -->
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="atchFiles">
		<xs:sequence>
			<xs:element name="ATCH_FILE_NM" type="xs:string" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!-- 데이터 항목 -->
	<!-- UID -->
	<xs:simpleType name="UID">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 취급일자 -->
	<xs:simpleType name="HDR_DE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8" />
			<xs:pattern value="[0-9]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 마약류취급자식별번호 -->
	<xs:simpleType name="BSSH_CD">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 보고구분코드 -->
	<xs:simpleType name="RPT_SE_CD">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:pattern value="[A-Z]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 사용자보고식별번호 -->
	<xs:simpleType name="USR_RPT_ID_NO">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 참조사용자보고식별번호 -->
	<xs:simpleType name="REF_USR_RPT_ID_NO">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 보고유형코드 -->
	<xs:simpleType name="RPT_TY_CD">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1" />
			<xs:pattern value="[0-9]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 보고구분세부코드 -->
	<xs:simpleType name="RPT_SE_DTL_CD">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 비고 -->
	<xs:simpleType name="RMK">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2000" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 보고자명 -->
	<xs:simpleType name="RPTR_NM">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="60" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 보고자업체명 -->
	<xs:simpleType name="RPTR_ENTRPS_NM">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="60" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 담당자명 -->
	<xs:simpleType name="CHRG_NM">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="60" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 담당자전화번호 -->
	<xs:simpleType name="CHRG_TEL_NO">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="60" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 담당자휴대폰번호 -->
	<xs:simpleType name="CHRG_MP_NO">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="512" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 수불상세보고수 -->
	<xs:simpleType name="RND_DTL_RPT_CNT">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12" />
			<xs:pattern value="[0-9]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 비마약원료여부 -->
	<xs:simpleType name="NON_NRCD_MTRAL_AT">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1" />
			<xs:pattern value="[Y|N]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 비마약제조여부 -->
	<xs:simpleType name="NON_NRCD_MNF_AT">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1" />
			<xs:pattern value="[Y|N]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 제조제품단가금액 -->
	<xs:simpleType name="MNF_PRD_UC_AMT">
		<xs:restriction base="xs:string">
			<xs:maxLength value="18" />
			<xs:pattern value="[0-9]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 제조제품금액 -->
	<xs:simpleType name="MNF_PRD_AMT">
		<xs:restriction base="xs:string">
			<xs:maxLength value="18" />
			<xs:pattern value="[0-9]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 제조수율 -->
	<xs:simpleType name="MNF_YIELD_RATE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="18" />
			<xs:pattern value="[0-9.]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 수출입단가금액 -->
	<xs:simpleType name="EXIM_UC_AMT">
		<xs:restriction base="xs:string">
			<xs:maxLength value="18" />
			<xs:pattern value="[0-9.]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 수출입금액 -->
	<xs:simpleType name="EXIM_AMT">
		<xs:restriction base="xs:string">
			<xs:maxLength value="18" />
			<xs:pattern value="[0-9.]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 첨부파일건수 -->
	<xs:simpleType name="ATCH_FILE_CO">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:pattern value="[0-9]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 등록자ID -->
	<xs:simpleType name="REGISTER_ID">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 파일생성일시 -->
	<xs:simpleType name="FILE_CREAT_DT">
		<xs:restriction base="xs:string">
			<xs:maxLength value="14" />
			<xs:pattern value="[0-9]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 사용자보고라인식별번호 -->
	<xs:simpleType name="USR_RPT_LN_ID_NO">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="35" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 저장소번호 -->
	<xs:simpleType name="STORGE_NO">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="16" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 이동유형코드 -->
	<xs:simpleType name="MVMN_TY_CD">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4" />
			<xs:pattern value="[0-9]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 제품코드 -->
	<xs:simpleType name="PRDUCT_CD">
		<xs:restriction base="xs:string">
			<xs:maxLength value="14" />
			<xs:pattern value="[0-9a-zA-Z]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 제조번호 -->
	<xs:simpleType name="MNF_NO">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 제조일련번호 -->
	<xs:simpleType name="MNF_SEQ">
		<xs:restriction base="xs:string">
			<xs:maxLength value="42" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 최소유통단위수량 -->
	<xs:simpleType name="MIN_DISTB_QY">
		<xs:restriction base="xs:string">
			<xs:maxLength value="18" />
			<xs:pattern value="[0-9.]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 제품최소유통단위 -->
	<xs:simpleType name="PRD_MIN_DISTB_UNIT">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 낱개단위수량 -->
	<xs:simpleType name="PCE_QY">
		<xs:restriction base="xs:string">
			<xs:maxLength value="18" />
			<xs:pattern value="[0-9.]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 제품낱개단위 -->
	<xs:simpleType name="PRD_PCE_UNIT">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 제품명 -->
	<xs:simpleType name="PRDUCT_NM">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="300" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 제품BarCode_RFID -->
	<xs:simpleType name="PRD_SGTIN">
		<xs:restriction base="xs:string">
			<xs:maxLength value="68" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 제품최소유통단위수량 -->
	<xs:simpleType name="PRD_MIN_DISTB_QY">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1" />
			<xs:pattern value="[0-9.]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 제품총낱개단위수량 -->
	<xs:simpleType name="PRD_TOT_PCE_QY">
		<xs:restriction base="xs:string">
			<xs:maxLength value="18" />
			<xs:pattern value="[0-9.]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 제품유효기한일자 -->
	<xs:simpleType name="PRD_VALID_DE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8" />
			<xs:pattern value="[0-9]*" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 상대마약류취급자업체명 -->
	<xs:simpleType name="OPP_BSSH_NM">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="1000" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 상대마약류취급자식별번호 -->
	<xs:simpleType name="OPP_BSSH_CD">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="40" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 상대저장소번호 -->
	<xs:simpleType name="OPP_STORGE_NO">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 수출입상대국가코드_A02 -->
	<xs:simpleType name="EXIM_COUNTRY_CD">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="2" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 수출입해외거래업체명 -->
	<xs:simpleType name="EXIM_OSEA_DELNG_NM">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="300" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 수출입승인번호 -->
	<xs:simpleType name="EXIM_CONFM_NO">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="40" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 수출입신고필증발행번호 -->
	<xs:simpleType name="EXIM_NOTIFY_CERT_NO">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="25" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 수출입해외거래업체부호 -->
	<xs:simpleType name="EXIM_OSEA_DELNG_SIGN">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="120" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 수출입통관일자 -->
	<xs:simpleType name="EXIM_ENTR_DE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8" />
			<xs:pattern value="[0-9]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 수출입입출항일자 -->
	<xs:simpleType name="EXIM_IPP_SPOT_DE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8" />
			<xs:pattern value="[0-9]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 수출입입출고일자 -->
	<xs:simpleType name="EXIM_IO_DE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8" />
			<xs:pattern value="[0-9]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 제조시작일자 -->
	<xs:simpleType name="MNF_STRT_DE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8" />
			<xs:pattern value="[0-9]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 제조종료일자 -->
	<xs:simpleType name="MNF_END_DE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8" />
			<xs:pattern value="[0-9]+" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- 제조위수탁구분코드_ND_109 -->
	<xs:simpleType name="MNF_CNSGN_SE_CD">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1" />
			<xs:pattern value="[0-9]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 제조합계수량 -->
	<xs:simpleType name="MNF_TOT_QY">
		<xs:restriction base="xs:string">
			<xs:maxLength value="13" />
			<xs:pattern value="[0-9.]+" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- 조제투약환자구분코드 -->
	<xs:simpleType name="MDC_PAT_SE_CD">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="2" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 조제투약환자식별번호유형코드_ND_97 -->
	<xs:simpleType name="MDC_PAT_ID_NO_TY_CD">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 조제투약환자식별번호 -->
	<xs:simpleType name="MDC_PAT_ID_NO">
		<xs:restriction base="xs:string">
			<xs:maxLength value="512" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 조제투약환자명 -->
	<xs:simpleType name="MDC_PAT_NM">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="60" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 조제투약처방요양기관기호 -->
	<xs:simpleType name="MDC_HPTL_NO">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 조제투약처방기관명 -->
	<xs:simpleType name="MDC_INSTT_NM">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="60" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 조제투약처방의면허종별코드_M14 -->
	<xs:simpleType name="MDC_LCNS_ASORT_CD">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 조제투약처방의면허번호 -->
	<xs:simpleType name="MDC_LCNS_NO">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 조제투약처방의명 -->
	<xs:simpleType name="MDC_PRSC_DOC_NM">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="40" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 조제투약처방전발급번호 -->
	<xs:simpleType name="MDC_PRSC_ORD_NO">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="40" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 조제투약질병분류기호 -->
	<xs:simpleType name="MDC_DISS_CODE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="300" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 조제투약량합계 -->
	<xs:simpleType name="MDC_SUM_QY">
		<xs:restriction base="xs:string">
			<xs:maxLength value="18" />
			<xs:pattern value="[0-9.]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 조제투약일회량 -->
	<xs:simpleType name="MDC_ONCE_QY">
		<xs:restriction base="xs:string">
			<xs:maxLength value="18" />
			<xs:pattern value="[0-9.]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 조제투약일일회수 -->
	<xs:simpleType name="MDC_ADE_CNT">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12" />
			<xs:pattern value="[0-9.]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 조제투약총일수 -->
	<xs:simpleType name="MDC_TOT_DCNT">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5" />
			<xs:pattern value="[0-9.]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 조제투약후폐기량 -->
	<xs:simpleType name="MDC_AFT_DSUSE_QY">
		<xs:restriction base="xs:string">
			<xs:maxLength value="18" />
			<xs:pattern value="[0-9.]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 조제투약후폐기량단위 -->
	<xs:simpleType name="MDC_AFT_DSUSE_UNIT">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 조제투약동물종류구분코드_ND_107 -->
	<xs:simpleType name="MDC_ANI_KIND_SE_CD">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 조제투약동물수 -->
	<xs:simpleType name="MDC_ANI_CNT">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5" />
			<xs:pattern value="[0-9]+" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- 조제투약동물종류명 -->
	<xs:simpleType name="MDC_ANI_KIND_NM">
		<xs:restriction base="xs:string">
			<xs:maxLength value="120" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 조제투약동물질병명 -->
	<xs:simpleType name="MDC_ANI_DISS_NM">
		<xs:restriction base="xs:string">
			<xs:maxLength value="300" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 사용구분코드_ND_47 -->
	<xs:simpleType name="USE_SE_CD">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 사용자사용일자 -->
	<xs:simpleType name="USE_DE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8" />
			<xs:pattern value="[0-9]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 양도구분코드_ND_94 -->
	<xs:simpleType name="TRNSFR_SE_CD">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 폐기구분코드_ND_07 -->
	<xs:simpleType name="DSUSE_SE_CD">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 폐기사유코드_ND_19 -->
	<xs:simpleType name="DSUSE_PRV_CD">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 폐기방법코드_ND_24 -->
	<xs:simpleType name="DSUSE_MTH_CD">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 폐기장소 -->
	<xs:simpleType name="DSUSE_LOC">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="120" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 폐기일자 -->
	<xs:simpleType name="DSUSE_DE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8" />
			<xs:pattern value="[0-9]+" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 폐기관할행정기관코드 -->
	<xs:simpleType name="DSUSE_INSTT_CD">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="7" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- SW_ID -->
	<xs:simpleType name="SW_ID">
		<xs:restriction base="xs:string">
			<xs:length value="7" />
			<xs:pattern value="[0-9a-zA-Z]+" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- 2019추가 비고 -->
	<xs:simpleType name="RND_RMK">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4000" />
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="aar_regist" type="aar" />
</xs:schema>
